<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>{% block title %}{{ title }}{% endblock title %}</title>
        <!-- Core theme CSS (includes Bootstrap)-->
        {% load static %}
        <link href="{% static 'css/styles.css' %}" rel="stylesheet" />
    </head>
    <body>
        {% load cache %}
        <!-- Responsive navbar-->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container">
                <a class="navbar-brand" href="#">News Portal</a>
                <div style="padding-left:25px;; color:white;">{{ request.user.username }}</div>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                        {% block caudio %}{{ caudio }}{% endblock caudio %}
                        </li>
                        <li class="nav-item"><a class="nav-link" href="/posts/">Новости</a></li>
                        <li class="nav-item"><a class="nav-link" href="/posts/search/">Поиск новостей</a></li>
                        {% if request.user.is_authenticated and is_author %}
                        {% block cmenu %}
                        {{ cmenu }}
                        {% endblock cmenu %}
                        {% endif %}
                        <li class="nav-item" style="padding-left:45px;">
                        {% if request.user.is_authenticated %}
                            <a class="nav-link" href="/accounts/logout/">Выйти (Sign out)</a>
                        {% else %}
                            <a class="nav-link" href="/accounts/login/">Войти в портал (Sign in)</a>
                        {% endif %}
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- Page content-->
        <div class="container">
            <div class="text-center mt-5">
                {% if request.user.is_authenticated %}
                    <div style="position:fixed;width:200px;">
                    {% if not is_author %}
                        <a href="/sign/upgrade/" style="font-weight:bold;">Стать автором!</a>
                    {% endif %}
                    </div>
                    {% if not 'subscribe' in request.path %}
                        <div style="margin: 0 auto;direction: rtl;">
                        <div style="position:fixed;float:right;">
                            <a href="subscribe/" style="font-weight:bold;">!Подписаться на рассылку</a>
                        </div>
                        </div>
                    {% endif %}
                {% endif %}
                {% block content %}
                {{ content }}
                {% endblock content %}
            </div>
        </div>
    </body>
</html>
