{% extends 'default.html' %}

{% block title %}
Создание поста
{% endblock title %}

{% block content %}
<h1>Новый пост</h1>
<hr>
{% if post_counter < 3 %}
<form action="" method="post">
    {% csrf_token %}
    <table border="0" style="margin-left:auto;margin-right:auto;">
        <tr>
        <th style="padding-right:18px;text-align:right;vertical-align:top;">Заголовок:</th>
        <td style="text-align:left;width:200px;vertical-align:top;">
        {{ form.title.errors }}
        {{ form.title }}
        </td>
        <th style="padding:0px 18px 0px 55px;text-align:right;vertical-align:top;">Текст:</th>
        <td rowspan="2" style="text-align:left;vertical-align:top;">
        {{ form.text.errors }}
        {{ form.text }}
        </td>
        </tr>
        <tr>
        <th style="padding: 18px;width:160px;text-align:right;vertical-align:top;">Категория:</th>
        <td style="text-align:left;">
        {{ form.category.errors }}
        {{ form.category }}
        </td>
        </tr>
        </table>
    <input type="submit" value="Save" style="width:155px;margin-top:40px;" />
</form>
{% else %}
<h2>Вы не можете создать более 3-х новостей за сутки.</h2>
{% endif %}
{% endblock content %}